<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- If you look at that base.xml in the spring-boot jar, you will see that 
		it uses some useful System properties which the LoggingSystem takes care 
		of creating for you. These are: -->
	<include resource="org/springframework/boot/logging/logback/base.xml" />
	<logger name="org.springframework.web" level="debug" />
</configuration>